<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"

    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    {% block style %}{% endblock %}
    <title>Neo的技術雜記</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav">
            <div class="nav-div-left">
                <li><a class="navbar-brand-2">Nesplash_O</a></li>
                <li><a class="navbar-brand-2">Foodie</a></li>
                <li><a class="navbar-brand-2">Nature</a></li>
                <li><a class="navbar-brand-2">Architecture</a></li>
                <li><a class="navbar-brand-2">Travel</a></li>
                <li><a class="navbar-brand-2">Athletics</a></li>
                <li><a class="navbar-brand-2">People</a></li>
            </div>
            <div class="nav-div-right">
                <li class="nav-li-right">
                    <a id="signin" class="navbar-brand-2">Signin</a>
                    <a id="signup" class="navbar-brand-2">Signup</a>
                </li>
            </div>
        </nav>
    </header>

    <section class="main-section">
        <div class="main-section-1-div">
            <legend class="main-bigTitle">A. Decorative Exhibition Via UnSplash Open API Data</legend>
        </div>

        <section id="main-section-2">
            <!-- dynamic loading photo's data -->
        </section>
    </section>
    <script>
        window.port = "http://127.0.0.1:8080"
    </script>
</body>
</html>